<div class="compose">
    <form action="http://127.0.0.1:3000/compose" method="POST">
        <input type="text" id="recepiants" value="" placeholder="to">
        <input type="text" id="cc" value="" placeholder="cc">
        <input type="text" id="bcc" value="" placeholder="bcc">
        <input type="text" id="subject" value="" placeholder="subject">
        <textarea id="content" rows="8" cols="40" style="height:280px"></textarea>
        <span>
            <input type='file' id='fileUploaded'>
        </span>
        <span>
            <input type='submit' value="send" onclick="sendMail()">
        </span>

    </form>
</div>
