
<div class="">
    <form class="" action="" method="post">
        <table>
            <tr>
                <td >Chat</td>
                <td>:<input type="checkbox" name="" >Can Chat
                    <input type="checkbox" name="" >Cann't Chat</td>
            </tr>
            <tr>
                <td>Add Users </td>
                <td>:<input type="checkbox" name=""> Can Add
                    <input type="checkbox" name="" >Cann't Add</td>
            </tr>
            <tr>
                <td>Disable Users</td>
                <td>:<input type="checkbox" name="">Can Disable
                    <input type="checkbox" name="">Cann't Disable</td>
            </tr>
            <tr>
                <td>Reset Password</td>
                <td>:<input type="checkbox" name="" >Can Reset
                    <input type="checkbox" name="" >Cann't Reset</td>
            </tr>
            <tr>
                <td>View User Details</td>
                <td>:<input type="checkbox" name="" >Can View
                    <input type="checkbox" name="" >Cann't View</td>
            </tr>
        </table>
    </form>
</div>
