.login{
    width: 350px;
    padding: 40px;
    background-color: #F7F7F7;
    margin: 0px auto 25px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin-top: 2%;
}
.circle{
    display: block;
    height: 96px;
    width: 96px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    margin-bottom: 10px;
    background-size: 96px auto;
    background-repeat: no-repeat;
    background-image: url("https://ssl.gstatic.com/accounts/ui/avatar_2x.png");
    transition: opacity 0.075s ease 0s;
}
.btn-big{
    width: 100%;
}
.signup input{
    border: medium none;
    color: rgb(48, 121, 237);
    outline: none;
    background: none;
}
#register{
    width: 500px;
}
.login h5{
    text-align: center;
    color: inherit;
    color: #26a69a;
}
body{
}
a{
    cursor: pointer;
}
.nav-wrapper{
    background-color: darkcyan;
}
.message{
    margin: 10%;
}
.message img{
    width: 70%;
}
/*.menu {
  color: white;
  top: -10px;
  float: left;
  padding: 0px 10px 0px 10px;
  z-index: 5;
  cursor: pointer; }
  .menu img {
    max-width: 30px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: -2px; }
#hidden_menu {
      left: -250px;
      float: left;
      z-index: 13;
  }
 #back {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 12;  }
@media (min-width: 450px){
    .menu{
        display: none;
    }
}*/
.container{
    display: block;
    height: 100%;
}

#menu{
    left: -240px;
}
.nav{
    background-color: #008B8B !important;
}
@media (max-width: 700px){
    .login{
        width: 90%;
    }
    #register{
        width: 90%;
    }
}
@media (max-width : 500px){
    .login{
        border: none;
        box-shadow: none;
        background-color: white;
        padding: 10px 0px;
    }
    h5{
        text-decoration: underline;
    }
}
#menu li:last-child{
    background-color: firebrick;
}
#menu li:last-child a{
    color: white;
    font-weight: 700;
}
.logout{
    display: inline-block;
    float: right;
    padding: 30px;
}
@media (max-width: 992px){

    .logout{
        display: none !important;
    }
    .sidebar{
        display: none;
    }
}
